@charset "utf-8";

.buy span{
    text-align: center;
    width: 22%;
}

.buy span img{
    width: 100%;
}

.buy{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% 0 1%;
}

.buy_2{
    display: block;
}

.buy_box{
    display: flex;
    align-items: center;
}

.buy_text p:first-child{
    font-size: 13px;
    padding-bottom: 6px;
}

.buy_text p:nth-child(2){
    padding-bottom: 40px;
}

.buy_text p:last-child{
    font-size: 13px;
    padding-bottom: 40px;
}


.buy_box_1{
    display: flex;
    align-items: center;
    border: 1px solid rgb(201, 201, 201);
    padding: 0 10px 4px;
    height: 35px;
}

.buy_box_1 p{
    padding: 0 6px;
}

.buy_box_1 p a{
    font-size: 12px;
}

.buy_box_2{
    padding: 10px;
}

.buy_box_2 p a{   
    background: #000;
    color: #fff;
    padding: 10px 28px;
}

.buy_text_last_2{
    background: #f9f9f9;
    padding: 4% 25%;
}

.buy_text_img{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    margin: 0 auto;
}

.buy_text_last_1{
    display: block;
    margin-left: 5%;
    width: 40%;
}

.buy_text_last_1 p:first-child{
    font-size: 13px;
    margin: 20px 0;
    font-weight: 600;
}

.buy_text_last_1 p:nth-child(3){
    margin: 10px 0;
}

.buy_text_last_1 p:nth-child(4){
    font-size: 13px;
    font-weight: 600;
    margin: 50px 0 0;
}

.buy_text_last_1 p:nth-child(5){
    margin: 20px 0;
    width: 80%;
}


@media (max-width:1105px){
    .buy{
        margin: 13% 0 1%;
    }
    .buy_text_img{
        display: block;
    }
    .buy_img_last{
        width: 50%;
        margin: 0 auto;
    }
    .buy_img_last img{
        width: 100%;
    }
    .buy_text_last_1 {
        margin: 0 auto;
        text-align: center;
    }
    .buy_text_last_1 p:nth-child(5) {
        margin: 20px 0;
        width: 100%;
        margin: 8% auto 17%;
        text-align: center;
    }
    .buy span{
        width: 27%;
    }
}


@media (max-width:859px){
    .buy span {
        width: 33%;
    }
}

@media (max-width:812px){
    .buy_text_last_1 {
        width: 50%;
    }
    .buy_text_last_2 {
        padding: 7% 25%;
    }
}


@media (max-width:651px){
    .buy_text_last_1 {
        width: 60%;
    }
}


@media (max-width: 604px){
    .buy {
        margin: 19% 0 1%;
    }
}

@media (max-width: 571px){
        .buy_img_last{
            width: 60%;
        }
}



@media (max-width: 548px){
    .buy_text_last_1 {
        width: 70%;
    }
    .buy_text_last_2 {
        padding: 7% 21%;
    }
}

@media (max-width: 519px){
    .buy span {
        width: 41%;
    }
}

@media (max-width: 473px){
    .buy_text_last_1 {
        width: 80%;
    }
    .buy_text_last_2 {
        padding: 11% 16%;
    }
}

@media (max-width: 414px){
    .buy_img_last {
        width: 79%;
    }
    .buy_text_last_1 {
        width: 85%;
    }
    .buy {
        margin: 27% 0 6%;
    }
}

@media (max-width: 388px){
    .buy_text_last_1 {
        width: 88%;
    }
}

@media (max-width: 376px){
    .buy_text_last_1 {
        width: 98%;
    }
}
