@charset "utf-8";


html,body{
    margin: 0;
}

ul,li,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,figure,p{
    margin: 0;
}

img{
    vertical-align: top;
}

a{
    text-decoration: none;
    color: #000;
}

*{
    box-sizing: border-box;
    font-size: 11px;
    color: #555;
}

html,body{
    margin: 0;
}

ul,li,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,figure,p{
    margin: 0;
}

img{
    vertical-align: top;
}

a{
    text-decoration: none;
    color: #000;
}

*{
    box-sizing: border-box;
    font-size: 11px;
    color: #555;
}


header{
    width: 100%;
    position:fixed; 
    /* 상단 헤더 고정 */
    top:0; 
    left:0;
    padding:14px 0;
    background:#fff;
    z-index: 9999;
}
header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left:10%;
}

.logo a img{
    width: 150px;
}

.h_menu nav a{
    margin-right: 20px;
}

.h_menu nav{
    display: flex;
    margin-right: 80px;
}




/* header ///////////////////////// */


footer{
    text-align: center;
    background: #000;
}

.f_img img{
    width: 96px;
    padding-top: 75px;
}

.f_text{
    padding: 50px;
}

.f_text_1 p, .f_text_2 p, .f_text_3 p{
    color: rgb(197, 197, 197);
    font-size: 11px;
}

.f_text_3 p span{
    color: rgb(197, 197, 197);
    font-size: 11px;
    font-weight: 600;
}


.f_text_1{
    padding-bottom: 40px;
}

.f_text_2{
    padding-bottom: 40px;
}

.f_text_3{
    padding-bottom: 68px;
}

/* footer ////////////////////////// */

@media (max-width:858px){
    .h_menu nav {
        margin-right: 48px;
    }
}

@media (max-width:655px){
    .h_menu nav {
        margin-right: 25px;
    }
}


@media (max-width:580px){

    .h_menu nav{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.9);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .h_menu nav a{
        color: #fff;
        width: 60%;
        font-size: 19px;
        line-height: 5;
    }

    /* bergermenu////////////////// */


    .h_menu{
        position: fixed;
        right: 0; top: 0;
    }

    .h_menu nav{
        background: rgba(0,0,0,0.9);
        padding: 100px 30px 30px 30px;
        position: fixed;
        right: 0;
        top: 0;
        transform: translateX(100%);
        transition: .5s;
    }

    .h_menu nav.active{
        transform:translateX(0%)
    }

    .h_menu a{
        display: block;
        color: #fff;
        line-height: 2;
    }

    .menu-trigger,
    .menu-trigger span {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
    }

    .menu-trigger {
        position: fixed;
        right:25px; 
        top:19px;
        z-index: 2;
        width: 25px;
        height: 17px;
    }

    .menu-trigger span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #000;
        border-radius: 4px;
    }

    .menu-trigger span:nth-of-type(1) {
        top: 0px;
    }

    .menu-trigger span:nth-of-type(2) {
        top: 8px;
    }

    .menu-trigger span:nth-of-type(3) {
        bottom: 0;
    }

    .menu-trigger.type7 span:nth-of-type(1) {
        -webkit-animation : menu-bar07-01 .75s forwards;
        animation : menu-bar07-01 .75s forwards;
    }

    @keyframes menu-bar07-01 {
        0% {
            transform : translateY(20px) rotate(45deg);
        }
        50% {
            transform : translateY(20px) rotate(0);
        }
        100% {
            transform : translateY(0) rotate(0);
        }
    }
    .menu-trigger.type7 span:nth-of-type(2) {
        transition : all .25s .25s;
        opacity : 1;
    }
    .menu-trigger.type7 span:nth-of-type(3) {
        -webkit-animation : menu-bar07-02 .75s forwards;
        animation : menu-bar07-02 .75s forwards;
    }

    @keyframes menu-bar07-02 {
        0% {
            transform : translateY(-20px) rotate(-45deg);
        }
        50% {
            transform : translateY(-20px) rotate(0);
        }
        100% {
            transform : translateY(0) rotate(0);
        }
    }
    .menu-trigger.active-7 span{
        background: #fff;
    }

    .menu-trigger.active-7 span:nth-of-type(1) {
        -webkit-animation : active-menu-bar07-01 .75s forwards;
        animation : active-menu-bar07-01 .75s forwards;
    }

    @keyframes active-menu-bar07-01 {
        0% {
            transform : translateY(0) rotate(0);
        }
        50% {
            transform : translateY(7px) rotate(0);
        }
        100% {
            transform : translateY(7px) rotate(45deg);
        }
    }
    .menu-trigger.active-7 span:nth-of-type(2) {
        opacity : 0;
    }
    .menu-trigger.active-7 span:nth-of-type(3) {
        -webkit-animation : active-menu-bar07-02 .75s forwards;
        animation : active-menu-bar07-02 .75s forwards;
    }

    @keyframes active-menu-bar07-02 {
        0% {
            transform : translateY(0) rotate(0);
        }
        50% {
            transform : translateY(-9px) rotate(0);
        }
        100% {
            transform : translateY(-9px) rotate(-45deg);
        }
    }


}

@media (max-width: 520px){
    .logo a img {
        width: 119px;
    }
}
